h2{
    font-size: 2rem;
}

h4{
    font-size: 1.8rem;
}

h5{
    font-size: 1.5rem;
    font-weight: 500;
}

body{
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    background-color:lemonchiffon
}


form input{
    width:50%;
    height:30px;
    margin-bottom: 5px;
    margin-right: 40px;
}

#read{
    width:40%;  
    height: 40px;  
    border: 0px;
    border-radius: 5px;
    background-color: lightcoral;
}

#Mission{
    width: 50%;
    height:40px;  
    border: 0px;
    border-radius: 5px;
    background-color: rgb(88, 187, 182);
    margin-bottom: 10px;

}

#Lunch{
    width: 50%;
    border: 0px;
    height:40px;
    border-radius: 5px;
    background-color:orange;
    margin-bottom: 10px;

}

#Weather{
    width: 50%;
    border: 0px;
    height:40px;
    border-radius: 5px;
    background-color:orchid;
    margin-bottom: 10px;
}

#create-btn{
    width: 25%;
    border: 0px;
    height:60px;
    border-radius: 5px;
    background-color:yellowgreen; 
    
}

.buttons{
   
    display:list-item;
    list-style-type: none;
    
    
}










